<div id="detail-result">

<form ng-model="details">
	<legend><h2>{{details.name}}</h2></legend>
			
	<div ng-repeat="detail in details.images" class="form-group col-xs-12 col-sm-4">
		
		<img class="img-responsive" ng-src="{{detail.imageUrlsBySize.360}}" alt="food image" />
	</div>
	<div id="ingredient-list" class="form-group col-xs-6 col-sm-4">
		<ul>
			<li><h3>Ingredients</h3></li>
			<li ng-repeat="detail in details.ingredientLines"><h4>{{detail}}</h4></li>
							
		</ul>
	</div>
	<div id="prep-list" class="form-group col-xs-6 col-sm-4">
		<ul>
			<li><h4>Total Time: 1 hr 15 min</h4></li>
			<li><h4>Makes 4 servings</h4></li>
			<li><a class="btn-green" href="{{details.source.sourceRecipeUrl}}">Go To {{details.source.sourceDisplayName}}</a></li>
			<li><p>Note: this is an external link</p></li>
			<li>
				<button id="btn-fav"type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-star"></span> Favorite
				</button></span>
			</li>
		</ul>
	
	</div>
		
</form>
</div>
