<!--Placeholder data until issues with displaying are resolved-->
<div> <!--ng-controller="detailCtrl"-->
<form id="detail-result">
	<legend><h1>Recipe Title</h1></legend>
	<ul ng-repeat="(key, item) in details"><li>{{key}}: {{item}}</li></ul>
		
			<div class="form-group col-xs-12 col-sm-4">
				<!--CAN'T GET RESULTS BACK FROM CONTROLLER-->
				<!--<h3>{{details}}</h3>-->
				<img src="assets/img/img-placeholder.png" alt="food image" />
			</div>
			<div id="ingredient-list"class="form-group col-xs-6 col-sm-4">
				<ul>
					<li><h3>Ingredients</h3></li>
					<li><h4>Ingredient 1</h4></li>
					<li><h4><p>Ingredient 2</p></h4></li>	
					<li><h4><p>Ingredient 3</p></h4></li>
					<li><h4><p>Ingredient 4</p></h4></li>
					<li><h4><p>Ingredient 5</p></h4></li>				
				</ul>
			</div>
			<div id="prep-list" class="form-group col-xs-6 col-sm-4">
				<ul>
					<li>Total Time: 1 hr 15 min</li>
					<li>Makes 4 servings</li>
					<li><button>Full Prep Instructions ></button></li>
					<li><p>Note: this is an external link</p></li>
				</ul>
				<ul>
					<li><button id="btn-fav"type="button" class="btn btn-default">
  				<span class="glyphicon glyphicon-star"></span> Favorite
			</button></span></li>
				</ul>
			
			</div>
		<script type="text/javascript">console.log({{key}});</script>
</form>
</div>
