<form id="login-form" role="form">
	<div class="form-group col-xs-12 col-sm-6">
    	<label for="username">Username</label>
    	<input type="text" class="input-lg form-control" id="username" placeholder="Enter Username">
	</div>
  	<div class="form-group col-xs-12 col-sm-6">
    	<label for="password">Password</label>
    	<input type="password" class="input-lg form-control" id="password" placeholder="Password">
  	</div>
  	<div class="form-group">
  		<button type="submit" class="btn">Submit</button>
    	<p><strong>Not Yet a Member?</strong></p>
  		<a href="#signup"><h3>Sign Up</h3></a>
	</div>
</form>

