<div ng-controller="searchCtrl">
<!--form layout is 12-column grid-->
		<form ng-submit="getResults()" role="form">
			<legend>Search Recipes</legend>
		<!--divs span width of container on devices <768px
			broken up into thirds if screen >=768px-->
			<div class="form-group col-xs-12 col-sm-4">
				<label for="keyword" class="control-label">By Keyword</label>
				<input class="input-lg" ng-model="keyword" type="text" id="keyword" placeholder="Add search term" />
			</div>
			<div class="form-group col-xs-12 col-sm-4">
				<label for="include" class="control-label">That Include</label>
				<input class="input-lg" ng-model="include" type="text" id="include" placeholder="Desired ingredients"/>
			</div>
			<div class="form-group col-xs-12 col-sm-4">
				<label for="exclude" class="control-label">And Don't Include</label>
				<input class="input-lg" ng-model="exclude" type="text" id="exclude" placeholder="Undesired ingredients"/>
			</div>
			<div class="form-group col-xs-4 col-sm-offset-4">
				<input id="search-recipe-btn" class="btn" type="submit" value="Search" />
			</div>
		</form>
		
<!--<div id="list-container" ng-controller="detailCtrl">-->
	<table class="table result-table table-hover">
		<tbody>        		
		<tr ng-repeat="recipe in results"> 
		<!--ng-click="getDetails({recipeID:recipe.id})" ng-model="recipeID">-->
			<!--<a href="" ng-click="getDetails({recipeID:recipe.id})">-->
			<td>
			
				<a href="#details/{{recipe.id}}" ng-click="getDetails({recipeID:recipe.id})">
		   		<img ng-src="{{recipe.imageUrlsBySize.90}}" />
		   		</a>
		   <!--	</div>-->
		    </td>
		    <td>
		    <!--<div ng-controller="detailCtrl">-->
		    	<a href="#details/{{recipe.id}}" ng-click="getDetails({recipeID:recipe.id})">
	            <h3 class="recipe-title">{{recipe.recipeName}}</h3>
	            <h4>Rating: {{recipe.rating}}</h4>
	            <h5>By: {{recipe.sourceDisplayName}}</h5>
	            </a>
	            <!--<a href="" ng-click="getDetails({recipeID:recipe.id})">{{recipe.id}}</a> -->
	           
		    </td>
		    <!--</a>-->
		</tr>
		</tbody>
	</table>
</div>
