@font-face {
	font-family: Couture;
	src: url(../fonts/COUTURE-Bold.ttf);
}
@font-face {
	font-family: Arial Rounded;
	src: url(../fonts/Arial Rounded Bold.ttf);
}
.navbar {
	background: none;
	border: none;
}
nav ul {
	padding-left: 0px;
}
nav ul li{
	display: inline;
}
#prep-list {
	margin-top: 30px;
}
#prep-list li {
	margin: 5px auto;
}
body {
	background: url(../img/bamboo-cutting-board.jpg);
	background-size: 100%;
}
.container ul {
	margin-top: 10px;
	list-style: none;
}
.container input {
	width: 100%;
}
.container h1, h2, form > legend {
	font-family: Couture;
	color: #5fad87;
}
form > legend {
	text-align: center;
}
#detail-result img{
	max-width: 100%;
}
#list-container {
	margin-left: auto;
	margin-right: auto;
	/*background: rgba(242, 239, 219, .5);*/
}
#list-container a {
	text-decoration: none;
}
#searchform {
	background: none;
}
.btn-green {
	
	padding-top: 8px;
	font-family: Couture;
	font-size: 18px;
	color: white;
	background-color: #5fad87;
}
#btn-fav .glyphicon{
	color: #fc7647;
}
/*#search-recipe-btn {
	width: 150px;
	font-family: Couture;
	font-size: 18px;
	color: white;
	background-color: #5fad87;
}*/
.recipe-title {
	margin-top: 3px;
}
.result-table a {
	text-decoration: none;
}
.result-table tr:hover{
	cursor: pointer;
}
.result-table > tbody > tr > td > h5{
	margin-bottom: 0px;
}
#login-form p {
	margin-top: 10px;
}
nav .glyphicon {
	color: #5fad87;
	font-size: 30px;
	float: right;
	margin: 10px 10px;	
}
form, table {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
::-webkit-input-placeholder {
   color: #fc7647;
   font-style: bold;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fc7647;
   font-style: bold;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fc7647;
   font-style: bold;  
}

:-ms-input-placeholder {  
   color: #fc7647;
   font-style: bold;  
}
@media (max-width: 400px){
	.form-group {
		padding: 0px;
	}
}