@font-face {
	font-family: Couture;
	src: url(../fonts/COUTURE-Bold.ttf);
}
@font-face {
	font-family: "Arial Rounded Bold";
	/*src: url(../fonts/Arial Rounded Bold.ttf);*/
	src: url(../fonts/Arial Rounded Bold.ttf);
}
body p, h1, h2, h3, h4, h5, li {
	color: #fc7647;
}
#detail-result .form-group>img {
	margin-left: auto;
	margin-right: auto;
}
.navbar {
	background: none;
	border: none;
}
nav ul {
	padding-left: 0px;
}
nav ul li{
	display: inline;
}
#prep-list {
	margin-top: 30px;
	text-align: center;
}
#prep-list li {
	margin: 5px auto;
	/*font-weight: bold;*/
}
#prep-list .btn-green {
	size: 75%;
}
body {
	background: url(../img/bamboo-cutting-board.jpg) no-repeat center -10px;
	background-position: 50% -10px;
}
.container ul {
	margin-top: 10px;
	list-style: none;
}
.container input {
	width: 100%;
}
.container h1, h2, form > legend {
	font-family: Couture;
	color: #5fad87;
}
form legend {
	text-align: center;
}
#detail-result img{
	max-width: 100%;
}
#list-container {
	margin-left: auto;
	margin-right: auto;
	/*background: rgba(242, 239, 219, .5);*/
}
#list-container h3, h4, h5 {
	font-family: "Arial Rounded Bold", Arial;
	text-decoration: none;
	color: black;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
}
#searchform {
	background: none;
	
}
.btn-group {
	text-align: center;
}
.btn-green:hover, .btn-green:focus {
	color: white;
	text-decoration: none;
}
.btn-green {
	text-align: center;
	display: inline-block;
	cursor: pointer;
	padding: 14px 10px 10px;
	font-family: Couture;
	font-size: 18px;
	color: white;
	background-color: #5fad87;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#btn-fav {
	margin-top: 10px;
}
#btn-fav .glyphicon{
	color: #fc7647;
}
.recipe-title {
	margin-top: 3px;
}
.result-table {
	background: rgba(242, 239, 219, .5);
}
.result-table a {
	text-decoration: none;
}
.result-table tr:hover{
	cursor: pointer;
}
.result-table > tbody > tr > td > h5{
	margin-bottom: 0px;
}
#login-form p {
	margin-top: 10px;
}
nav .glyphicon {
	color: #5fad87;
	font-size: 30px;
	float: right;
	margin: 10px 10px;	
}
form, table {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
::-webkit-input-placeholder {
   color: #fc7647;
   font-style: bold;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fc7647;
   font-style: bold;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fc7647;
   font-style: bold;  
}

:-ms-input-placeholder {  
   color: #fc7647;
   font-style: bold;  
}
@media (max-width: 400px){
	.form-group {
		padding: 0px;
	}
}
@media (max-width: 767px){
	#btn-group {
		text-align: left;
	}
	#ingredient-list ul {
		padding-left: 0px;
	}
	#prep-list {
		
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#prep-list ul {
		
		
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
	}

}