body {
	background: url(../img/bamboo-cutting-board.jpg);
	background-size: 100%;
}
.container ul {
	margin-top: 10px;
	list-style: none;
}
.container input {
	width: 100%;
}
#detail-table {
	clear: both;
}
#list-container {
	margin-left: auto;
	margin-right: auto;
}
#search-recipe-btn {
	width: 210px;
}
.recipe-title {
	margin-top: 3px;
}
.result-table a {
	text-decoration: none;
}
.result-table tr:hover{
	cursor: pointer;
}
.result-table > tbody > tr > td > h5{
	margin-bottom: 0px;
}
form, table {
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
